<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="./assets/images/logo.png"
               class="img-responsive center-block"
               style="max-height:60px;padding-bottom:5px;" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" *ngIf="logText==='Logout'">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li *ngFor="let category of categories">
              <a class="dropdown-item" [routerLink]="['/categories', category.id ]">
                {{ category.name }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" [hidden]="!cartItems">
          <a routerLink="/cart">
            <svg class="bi bi-bag" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 001 1h10a1 1 0 001-1V5zM1 4v10a2 2 0 002 2h10a2 2 0 002-2V4H1z" clip-rule="evenodd"/>
              <path d="M8 1.5A2.5 2.5 0 005.5 4h-1a3.5 3.5 0 117 0h-1A2.5 2.5 0 008 1.5z"/>
            </svg>
          </a>
          <span class="badge text-bg-dark m-1">{{ cartItems }} Items</span>
  
          <button class="btn btn-secondary ms-3" routerLink="/cart">
            Checkout
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning ms-3 text-bg-dark" (click)="onLogClick()">
            {{logText}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>


